*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.main_box{
    display: flex;
    height: 100vh;
    background: url('/Resource/mango.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn_one{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    z-index: 2;
}

.sidebar_menu{
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #111;
    transition: all 0.5s ease;
    box-sizing: border-box;
    padding-top: 60px;
}
.sidebar_menu .logo{
    position: relative;
    width: 100%;
    height: 80px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.sidebar_menu .logo a{
    color: #fff;
    font-size: 25px;
    line-height: 80px;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    display: block;
}

.sidebar_menu .btn_two{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    opacity: 0;
}
#check:checked ~ .sidebar_menu{
    left: 0;
}
.sidebar_menu .menu{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
}
.sidebar_menu .menu i,a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    margin-right: 10px;
}
.sidebar_menu .menu ul{
    margin-top: 20px;
}

.sidebar_menu  .menu ul li:hover{
    background: rgba(255,255,255,0.1);
    cursor: pointer;
}
.sidebar_menu .menu ul li{
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.sidebar_menu .social_media{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}
#check{
    display: none;
}


#check:checked ~ .sidebar_menu .btn_two{
    opacity: 1;
}

#check:checked ~ .btn_one{
    opacity: 0;
}

footer{
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.social_media i{
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}